.buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 50% 0 20% 0;
}

.results{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player{
    display: flex;
    gap: 16px;
}

.computer{
    display: flex;
    gap: 16px;
}

.final-result{
    font-size: x-large;
    font-weight: bolder;
    color: black;
}

.outcomes{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin: 10%;
}

